body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: aliceblue;
  text-align: center;
}

.yahoo {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 4% 29%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  margin-right: 53%;
}

.column {
  display: block;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
}

.column:hover {
  background-color: antiquewhite;
}

.column > p:hover,
.column > h1:hover {
  color: rebeccapurple;
}

.column > h1 {
  letter-spacing: 3px;
  margin-top: 3px;
}

a:visited {
  color: black;
}

a[href="./index.html"] {
  background-color: azure;
}
